$sectionTitle: 2.5rem;
$h3title: calc(min(1.25rem, 3vw));
$primary-solid: rgba(27, 27, 27, 1);
$primary-faded: rgba(27, 27, 27, 0.9);
$primary-very-faded: rgba(27, 27, 27, 0.5);
$secondary1: rgb(248, 55, 0);
$secondary2: rgb(249, 207, 34);