@import "./variables";
.websites {
  color: $primary-solid;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.website-container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 70%;
  max-width: 1000px;
  margin-inline: auto;
  position: relative;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.website-item {
  background-color: white;
  height: 350px;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 8rem;
}

.website-item img {
  position: relative;
  background-size: cover;
  width: 100%;
  aspect-ratio: 1.5;

  border-radius: 1rem;
}

.website-content {
  position: relative;
  display: block;
  margin: 1rem;

  border-radius: 1rem;
  padding: 1rem 0;
}

.website-paragraph {
  margin-top: 1rem;
}

//-------------Media queries
@media (min-width: 72rem) {
  .website-item img {
    transition: transform 0.2s ease-out;
  }
  .website-item img:hover {
    transform: translateY(-2rem);
  }
}

@media (max-width: 72rem) {
  .website-item {
    aspect-ratio: 1.5;
    max-width: 90vw;

    margin-bottom: 3rem;
  }
  .website-item img {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  .website-content {
    position: relative;
    display: block;
    margin: 1rem;
    top: 50%;
    flex: 0.43;
    background: white;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    overflow-y: scroll;
  }
}
